html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
   letter-spacing:1.5px;
   font-family:'メイリオ', 'Meiryo', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

* {
    box-sizing:border-box;
}
/*reset css*/
header {
    height: 75px;
    margin:0 auto;
    width:1170px;
    
}

.head {
    display: flex;
    justify-content: space-between;
}


.head-link {
    position: relative;
    top:16px;
    right:0;
}

.head-link p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color:white;
    padding:11px 40px 11px 40px;
    background-color: #da6b64;
    border-radius:30px;
    
    
}

.head-logo  {
    position:relative;
    top:14px;
    left:0px;
}

.head-logo img {
    width:128px;
    
}   

.head-logo p {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    display: inline;
    position:relative;
    top:-9px;
    left:-0.8px;
    }
/*一致*/

.top {
    height: 500px;
    background-image: url("image/main.jpg");
    background-size:cover;
    background-position: center;
    /*background-positionよく分からん*/
}

.top-text {
    position:relative;
    top:78px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.top-copy {
    font-size: 28px;
    line-height: 54px;
    color:#333333;
    font-weight: 600;
    margin-top:10px;

}

.top-text img {
   width: 317px;
   margin: 5px auto;
   
}

.top-subcopy {
    font-size: 20px;
    line-height: 22px;
    color:#333333;
    font-weight: 600;
    margin-top:35px;
}
/*一致*/

.introduction {
    background-color: #ebb94d;
    text-align: center;
    color:white;
    padding:30px 0;
    height:543px;
    
}

.introduction-top {
    margin-bottom: 18px;
}  

.introduction-copy {
    font-size: 20px;
    line-height: 32px;
    color:#ffffff;
    font-weight: 600;
    letter-spacing: 2.5px;
}



.introduction-text {
    font-size: 18px;
    line-height: 29px;
    color:#c7254e;
    font-weight: 600;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    margin-top:10px;
    letter-spacing: 1.9px;
    height: 28px;
}

.introduction-text span {
    background-color: #ffffff;
    display:inline;
    border-radius:3px;
}

.introduction-link {
    text-align: center;
    margin: 49px auto 0;
    width:1028px;
}

.introduction-link p {
    font-size: 28px;
    line-height: 45px;
    color:#ffffff;
    font-weight: 600;
    background-color: #da6b64;
    padding:30px 0 29px 0;
    border-radius:50px;
}

.introduction-bottom { 
    margin-top:67px;
    
}

.introduction-bottom li {
    font-size: 21px;
    line-height: 34px;
    font-weight: 600;
    color: #ffffff;
    margin-top:17px;
    margin-bottom: 30px;
    letter-spacing: 2.2px;
}

.introbottom {
    height: 507px;
    background-image: url("image/introbottom.jpg");
    background-size:cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    
}

.introbottom-header , .content-header , .merits-header　, .nomado-enginner-header , .isara-aim-header {
    margin: 0 auto;
    width:860px;
}

.introbottom-header h1 , .content-header h1 {
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    font-weight: 600;
    padding:35px 30px 25px 30px;
    position: relative;
}

.introbottom-header h1::before, .introbottom-header h1::after ,
.content-header h1::before, .content-header h1::after,
.merits-header h1::before, .merits-header h1::after,
.nomado-enginner-header h1::before, .nomado-enginner-header h1::after ,
.isara-aim-header h2::before , .isara-aim-header h2::after{
    content: '';
    width: 46px;
    height: 46px;
    position: absolute;
}

.introbottom-header h1::before,.content-header h1::before , .merits-header h1::before{
    border-left: solid 4px #ebb94d;
    border-top: solid 4px #ebb94d;
    top: 0;
    left: 0;
}

.introbottom-header h1::after , .content-header h1::after , .merits-header h1::after {
    border-right: solid 4px #ebb94d;
    border-bottom: solid 4px #ebb94d;
    bottom: 0;
    right: 0;
}

.introbottom-text{
    padding:40px 0;
}

.introbottom-text p {
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 300;
}

.introbottom-text .second-text {
    margin:24px 0;
}

.introbottom-text .third-text .underline {
    font-weight: 700;
    background: linear-gradient(transparent 70%,#ebb94d 0%);
}

.contents {
    background: #fef5e0;
    text-align: center;
    padding: 80px 0 70px 0;
    
    
   
}

.circle-logo {
    width:80px;
    text-align: center;
    margin: 0 auto;
    
}
    

.circle {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ebb94d;
    line-height: 80px;
    color:#ffffff;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top:-39px;
    float:left;
    
}



.content-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #333333;
    margin: 38px 0 34px 0;
}

.content-main {
    background-color: #ffffff;
    border:solid 2px #ebb94d;
    width:1170px;
    margin: 0 auto;
    padding: 30px 0 50px 0; 
    border-radius: 10px;
    
}
.content-main h1 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #333333;
    padding-bottom:28px;
    
}

.content-skill {
    margin: 0 auto;
    
}

.skill {
    display: inline-block;
    margin: 0 10px;
} 

.skill img {
    margin: 0 auto;
   
}

.skill p {
    font-size: 12px;
    line-height: 19px;
    font-weight: 300;
    color: #333333;
}

.about-second {
    background-image: url("image/aboutsecondbg.jpg");
    background-size:cover;
    background-position: center -80px;
    text-align: center;
    padding:64px 0 40px 0;
}

.study-step-text {
    padding:30px 0 35px 0;
}

.about-second h1 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    color: #ffffff;
}

.about-second-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #ffffff;
    padding:28px 0 35px 0;
}

.about-second-text span {
    color:#ebb94d;
}

.study-step {
    display: flex;
    justify-content:space-between ;
    width: 1170px;
    margin: 0 auto;
}


.step h2 {
    margin: 0 auto ;
    margin-bottom: 30px;
    width:315px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff;
    background-color:#ebb94d ;
    border-radius: 3px;

}

.step {
    background-color: #ffffff;
    width: 375px;
    padding:29px 0px;
    border-radius: 3px;
}

.time {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #000000;
}

.step-content {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #000000;
}

.about-third {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color:#ffffff;
    background-color: #016ea9;
    text-align: center;
}

.about-third p {
    padding:40px 0
}

.about-third span {
    color:#ebb94d;
}

.study-isara {
   text-align: center; 
   padding: 60px 0 50px 0;
}

.study-contents {
    display: flex;
    justify-content: center;
}
.study-content {
    height: 180px;
    padding: 0 22.5px;
}

.study-logo {
    width: 180px;
    height: 180px;
}

.study-isara h1 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 40px;
}

.study-isara h1 span {
    font-size: 16px;
}
.study-text-first {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 40px;
}

.study-text-second {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #333333;
    margin-top: 40px;
}

.isara-merits {
    text-align: center;
    background-color:#fef5e0 ;
    padding: 40px 0 55px 0 ;

}

.merits-header h1  {
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    font-weight: 600;
    padding:20px 30px 20px 30px;
    position: relative;
}

.merits {
    display: flex;
    justify-content: center;
    margin:40px auto 50px;
    width:1170px;
    
}

.merit {
    margin: 0 15px;
    text-align: left;
   
    
}
.merit img {
    width:360px;
    height: 180px;
}

.merit h2 {
    font-size: 20px;
    line-height: 32px;
    color: #ebb94b;
    font-weight: 700;
    padding-bottom: 8px;
}

.merit p {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    font-weight: 300;
}

.merits-after {
    background-color: #ffffff;
    border:solid 2px #ebb94d;
    width:1170px;
    margin: 0 auto;
    padding: 40px 0 50px 0; 
    border-radius: 10px;
    margin-bottom: 40px;
}

.merits-after h1 {
    font-size: 28px;
    line-height: 45px;
    color: #ebb94b;
    font-weight: 600;
    padding-bottom: 10px;
}

.merits-after h2 {
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 600;
    padding-bottom: 12px;
    /*正確な値は不明*/
}

.merits-after p {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    font-weight: 600;
}

.merits-requirement p {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-weight: 300;
}

.isara-members {
    text-align: center;
    padding:80px 0 40px 0;
    background-image: url("image/teacherbg.jpg");
    background-size: cover;
    background-position: center;
}

.isara-members-header  {
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 40px;

}

.isara-members-content {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
}

.members {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin:0 auto;
}
.member {
    display: flex;
    flex:1;
    flex-direction: column;
}

.member:nth-child(2) {
    padding:0 30px;
}

.member-photo {
    width:200px;
    text-align: center;
    margin: 0 auto;
}

.member img {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top:30px;
}

.member-introduction {
    border:solid 2px #ffffff;
    padding: 35px 40px 50px 40px;
   
    
}

.member-introduction-header {
    text-align: center;
}

.member-introduction-content {
    text-align: left;
}

.member-introduction p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 10px;
}

.nomado-enginner {
    text-align: center;
    padding:40px 0;
    background-color:#ebb94d ;
}

.circle-Question {
    width: 80px;
    margin: 0 auto;
}

.circle-question {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffffff;
    line-height: 80px;
    color:#ebb94d;
    font-size: 14px;
    font-weight: 400;
}


.nomado-enginner-header h1 {
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 600;
    padding:15px 30px 15px 30px;
    position: relative;
}

.nomado-enginner-header h1::before , .isara-aim-header h2::before {
    border-left: solid 4px #ffffff;
    border-top: solid 4px #ffffff;
    top: 0;
    left: 0;
}

.nomado-enginner-header h1::after , .isara-aim-header h2::after {
    border-right: solid 4px #ffffff;
    border-bottom: solid 4px #ffffff;
    bottom: 0;
    right: 0;
}

.triangle-logo {
    width: 50px;
    margin: 0 auto;
    
}
    

.triangle {
    text-align: center;
    width: 0px;
    height: 0px;
    border: 25px solid;
    border-color: #ebb94d transparent transparent transparent ;
    float:left
    
}

.adsorption {
    text-align: center;
    padding-top:45px;
    padding-bottom: 20px;
   
    
}

.answer-text {
    font-size: 28px;
    line-height: 45px;
    color: #333333;
    font-weight: 600;
    position: relative;
    left:-25.5%;
    margin-bottom: 20px;
}
/*left-25%は良いのか*/

.answer-texts {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    font-weight: 600;
    margin-bottom:25px;
}

.answer-message {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-weight: 300;
    margin-bottom:35px;
}

.adsorption-message {
    width: 780px;
    margin: 0 auto;
    
}

.Director {
    display: flex;
    text-align: left;
    margin-bottom:40px;
}

.Director img {
    width:240px;
    height: 240px;
    border: solid 4px #ebb94d;
}

.Director p {
    padding-left:30px;
    padding-top:15px;
    font-style: italic;
    font-size: 18px;
    line-height: 29px;
    color: #777777;
    font-weight: 400;
}
.Director p span {
    padding-top: 10px;
    display: block;
    font-size: 15px;
    line-height: 24px;
    text-decoration: underline;
}

.isara-contents {
    background-image: url(image/classbg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px 0 80px 0;
}

.isara-contents h1 {
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}

.isara-contents p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 50px;
}

.study-list {
    display: flex;
    justify-content: space-between;
    width:780px;
    margin: 0 auto;;
}

.study-bankoku {
    width:375px;
}

.study-bankoku h2 {
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 600;
    background-color: #016ea9;
    padding: 18px 0 13px 0;
    border-radius: 5px 5px 0 0;
     
}

.study-bankoku ul {
    list-style: none;
    border: solid 3px #016ea9;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.study-bankoku li {
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    font-weight: 600;
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: dotted 0.5px #eae3e3;
    
} /*ボーダーの色適当*/

.study-bankoku li:nth-child(1) {
    padding-top:20px;
}

.study-risk {
    background-color:#016ea9;
    text-align: center;
    padding: 40px 0;
}

.study-risk p {
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 600;
}

.study-flow {
    text-align: center;
    padding:60px 40px;
}

.study-flow-header h1 {
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 50px;
}

.study-flow-header img {
    width:1000px;
    margin-bottom: 40px;
}

.study-flow-contents {
    display:flex;
    width:1170px;
    margin: 0 auto;
    background-color:#fef5e0 ;
    padding:35px 30px;
    border-radius: 10px;
    
}

.study-flow-logo {
    text-align: center;
    padding:0 15px;
    width: 160px;
    flex:1;
} 

.study-flow-logo-topmargin {
    margin-top: 40px;
}

.study-flow-logo p {
    font-size: 18px;
    line-height: 29px;
    color: #333333;
    font-weight: 600;
    margin-top: 15px;
}

.study-flow-content {
    text-align: left;
    padding-top:10px;
    flex:5;
}

.study-flow-content p {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    font-weight: 600;
}

.study-flow-content .small {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-weight: 300;
}

.study-flow-content p:nth-child(2) {
    margin: 20px 0;
}
.flowline {
    display: block;
    margin: 0 auto;
}

.place {
    text-align: left;
    background-image: url(image/bangkokbg.jpg);
    background-size: cover;
    background-position: center ;
}
.placereason {
    width: 1170px;
    margin: 0 auto;
    padding: 100px 0 90px 0;
}

.placereason h1 {
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
}

.placereason h2 {
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 600;
}

.placereason p {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 20px;
}

.placereason ul {
    margin-bottom: 20px;
    list-style: none;
}

.placereason li {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}

.previlege {
    text-align: center;
    background-color: #f7c23c;
    padding: 60px 0 40px 0;
}

.previlege h1 {
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 40px;
}

.previlege h2 {
    font-size: 28px;
    line-height: 45px;
    color: #333333;
    font-weight: 600;
    position: relative;
    z-index: 2;
    background-color: #f7c23c;
    display: inline-block;
    padding: 0 100px;
}

.previlege-support {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 70px;
}

.previlege-contents {
    display: flex;
    justify-content: space-around;
    width:1170px;
    margin: 0 auto;;
    border:solid 2px #ffffff;
    padding:50px 0 60px 0;
    position: relative;
    top:-15px;
    z-index: 1;
}

.previlege-content {
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 0 15px;
}

.previlege-content h3 {
    margin: 40px 0 20px 0;
    font-size: 24px;
    line-height: 38px;
    color: #ebb94b;
    font-weight: 300;
}

.previlege-content p {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.isara-aim {
    text-align: center;
    background-image: url(image/specialdetail.jpg);
    background-size: cover;
    background-position: center ;
    padding: 60px 0 80px 0;
}

.isara-aim h1 {
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
}

.isara-aim p {
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 600;
}

.isara-aim-header h2 {
    font-size: 28px;
    line-height: 45px;
    color: #ffffff;
    font-weight: 600;
    margin: 40px 0 20px 0;
    position: relative;
    padding: 15px 30px;
}



    




