html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
   letter-spacing:1.5px;
   font-family:'メイリオ', 'Meiryo', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*reset css*/
header {
    height: 75px;
    margin:0 auto;
    width:1170px;
    
}

.head {
    display: flex;
    justify-content: space-between;
}


.head-link {
    position: relative;
    top:16px;
    right:0;
}

.head-link p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color:white;
    padding:11px 40px 11px 40px;
    background-color: #da6b64;
    border-radius:30px;
    
    
}

.head-logo  {
    position:relative;
    top:14px;
    left:0px;
}

.head-logo img {
    width:128px;
    
}   

.head-logo p {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    display: inline;
    position:relative;
    top:-9px;
    left:-0.8px;
    }
/*一致*/

.top {
    height: 500px;
    background-image: url("image/main.jpg");
    background-size:cover;
    background-position: center;
    /*background-positionよく分からん*/
}

.top-text {
    position:relative;
    top:78px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.top-copy {
    font-size: 28px;
    line-height: 54px;
    color:#333333;
    font-weight: 600;
    margin-top:10px;

}

.top-text img {
   width: 317px;
   margin: 5px auto;
   
}

.top-subcopy {
    font-size: 20px;
    line-height: 22px;
    color:#333333;
    font-weight: 600;
    margin-top:35px;
}
/*一致*/

.introduction {
    background-color: #ebb94d;
    text-align: center;
    color:white;
    padding:30px 0;
    height:543px;
    
}

.introduction-top {
    margin-bottom: 18px;
}  

.introduction-copy {
    font-size: 20px;
    line-height: 32px;
    color:#ffffff;
    font-weight: 600;
    letter-spacing: 2.5px;
}



.introduction-text {
    font-size: 18px;
    line-height: 29px;
    color:#c7254e;
    font-weight: 600;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    margin-top:10px;
    letter-spacing: 1.9px;
    height: 28px;
}

.introduction-text span {
    background-color: #ffffff;
    display:inline;
    border-radius:3px;
}

.introduction-link {
    text-align: center;
    margin: 49px auto 0;
    width:1028px;
}

.introduction-link p {
    font-size: 28px;
    line-height: 45px;
    color:#ffffff;
    font-weight: 600;
    background-color: #da6b64;
    padding:30px 0 29px 0;
    border-radius:50px;
}

.introduction-bottom { 
    margin-top:67px;
    
}

.introduction-bottom li {
    font-size: 21px;
    line-height: 34px;
    font-weight: 600;
    color: #ffffff;
    margin-top:17px;
    margin-bottom: 30px;
    letter-spacing: 2.2px;
}

.introbottom {
    height: 507px;
    background-image: url("image/introbottom.jpg");
    background-size:cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    
}

.introbottom-header , .content-header {
    margin: 0 auto;
    width:860px;
}

.introbottom-header h1 , .content-header h1{
    font-size: 28px;
    line-height: 40px;
    color: #333333;
    font-weight: 600;
    padding:35px 30px 25px 30px;
    position: relative;
}

.introbottom-header h1::before, .introbottom-header h1::after ,
.content-header h1::before, .content-header h1::after {
    content: '';
    width: 46px;
    height: 46px;
    position: absolute;
}

.introbottom-header h1::before,.content-header h1::before {
    border-left: solid 4px #ebb94d;
    border-top: solid 4px #ebb94d;
    top: 0;
    left: 0;
}

.introbottom-header h1::after , .content-header h1::after {
    border-right: solid 4px #ebb94d;
    border-bottom: solid 4px #ebb94d;
    bottom: 0;
    right: 0;
}

.introbottom-text{
    padding:40px 0;
}

.introbottom-text p {
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 300;
}

.introbottom-text .second-text {
    margin:24px 0;
}

.introbottom-text .third-text .underline {
    font-weight: 700;
    background: linear-gradient(transparent 70%,#ebb94d 0%);
}

.contents {
    background: #fef5e0;
    text-align: center;
    height: 496px;
    padding: 80px 0 70px 0;
   
}

.circle-logo {
    width:80px;
    text-align: center;
    margin: 0 auto;
    
}
    

.circle {
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ebb94d;
    line-height: 80px;
    color:#ffffff;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top:-39px;
    float:left;
    
}

.content-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #333333;
    margin: 38px 0 34px 0;
}

.content-main {
    background-color: #ffffff;
    border:solid 2px #ebb94d;
    width:1170px;
    margin: 0 auto;
    padding: 28px 0 50px 0; 
    border-radius: 10px;
    
}
.content-main h1 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #333333;
    padding-bottom:25px;
}

.content-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 690px;
    margin: 0 auto;
}

.skill p {
    font-size: 12px;
    line-height: 19px;
    font-weight: 300;
    color: #333333;
    padding-top: 10px
}
